.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  height: 200px;
  position: center;
}

.bmenu {
  background-color: white;
  color: #4CAF50;
  padding: 24px 40px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.batualiza {
  float: right;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.breserva {
  float: right;
  background-color: #4CAF50;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.breserva:hover{
  background-color: #45a049;
}

.breserva-popup{
  float: bottom;
  background-color: #4CAF50;
  color: white;
  padding: 20px 46px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.breserva-popup:hover{
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody:hover {background-color:#f5f5f5;}

select {
  display: inline-block;
  width: 91.5%;
  text-align: center;
  height: 35px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

input {
  display: inline-block;
  width: 90%;
  text-align: center;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  width: 60%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  display: inline-grid;
  width: 90%;
  padding: 15px 20px;
  text-align: justify;
  position: relative;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
